<div class="container" >
    <div class="box">
        <div class="text">
            <div class="title">
                <h2>¿Por que trabajar con nosotros?</h2>
            </div>
            <div >
                <ul>
                    <li>Tu sitio web sería contruído de manera personalizada, enfocándose en tus objetivos.</li>
                    <li>Comunicación más directa para facilitar la transmisión de ideas y los los cambios al sitio web.</li>
                    <li>El sitio web sería completamente tuyo y no será afectado por terceros.</li>
                    <li>El costo del servicio se adapta al presupuesto de tu proyecto.</li>
                    <li>Al trabajar de manera personalizada, la dinámica de trabajo es más ágil y la conclusión del proyecto sería en menos tiempo.</li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img src="../../../../assets/images/Group 6box-card-image.png">
        </div>
    </div>
</div>