<main id="portada">
    <div class="titulo">
        <h1>Una experiencia única con nosotros</h1>
        <app-button-portada text="Conocé Mas" ref="#section2"></app-button-portada>
        
    </div>

    <video muted autoplay loop>
        <source src="../../../../assets/video/video-code.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
</main>
<div id="section2" #section2 class="section2">
    <div class="title2">
        <h2>Mejorá tu negocio con una página web</h2>
    </div>
    <div class="text-sec2">
        <div>
        <h1 class="sec2-title">Potencia tu emprendimiento con presencia online</h1>
        <p>Con nuestra experiencia en desarrollo web, podemos ayudarte a dar el salto al mundo digital y mejorar significativamente la imagen de tu negocio. Desde atractivos diseños hasta funcionalidades personalizadas, creamos soluciones adaptadas a tus necesidades específicas.</p>
        </div>
        <div class="img-sec2">
            <img src="../../../../assets/images/mockup.png">
        </div>
    </div>

</div>

<div id="section3" #section3 class="section3">

    <div class="text-sec3">
        <div class="img-sec3">
            <img src="../../../../assets/images/diseñador.jpg">
        </div>
    <div><h1 class="sec3-title">Diseño & Desarrollo</h1>
        
        <div>
            <p>Desde el diseño visual hasta la implementación técnica, nuestro equipo de expertos se dedica a plasmar tu visión de manera efectiva y atractiva. Ya sea que necesites un sitio web moderno, una aplicación intuitiva o una plataforma de comercio electrónico, nos comprometemos a ofrecerte soluciones que resalten la identidad de tu marca y generen impacto.</p>
    </div>
    </div>
</div>
</div>
