<main id="portada">
    <div class="titulo">
        <h1>Una experiencia única con nosotros</h1>
        <app-button-portada text="Conocé Mas" ref="#section2"></app-button-portada>
        
    </div>

    <video muted autoplay loop>
        <source src="../../../../assets/video/video-code.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
</main>
<div id="section2" #section2 class="section2">
    <div class="title2">
        <h2>Mejorá tu negocio con una página web</h2>
    </div>
    <div class="text-sec2">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae accusamus, tempora dolores corporis illum, ipsam fugit quas ipsum voluptas, quod voluptates quia. Quaerat necessitatibus, sit ipsam pariatur aliquid possimus nam!</p>
        <div class="img-sec2">
            <img src="../../../../assets/images/mockup.png">
        </div>
    </div>

</div>
