<main id="portada">
    <div class="titulo">
        <h1>Una experiencia única con nosotros</h1>
        <app-button-portada text="Conocé Mas" ref="#section2"></app-button-portada>

    </div>

    <video muted autoplay loop>
        <source src="../../../../assets/video/video.mp4" type="video/mp4">
    </video>
    <div class="capa"></div>
</main>

<!-- SECCION DOS -->
<div id="section2" class="text-sec2">
    <div class="text-content">
        <h1 class="sec2-title">Potencia tu emprendimiento con presencia online</h1>
        <p>Con nuestra experiencia en desarrollo web, podemos ayudarte a dar el salto al mundo digital y mejorar significativamente la imagen de tu negocio. Desde atractivos diseños hasta funcionalidades personalizadas, creamos soluciones adaptadas a tus necesidades específicas.</p>
    </div>
    <div class="img-container">
        <img src="../../../../assets/images/mockup.png">
    </div>
</div>
<!-- SECCION TRES -->

<div class="text-sec3">
    <div class="img-container">
        <img src="../../../../assets/images/design-thinking.png">
    </div>
    <div class="text-container">
        <h1 class="sec3-title">Diseño & Desarrollo</h1>
        <p>Desde el diseño visual hasta la implementación técnica, nuestro equipo de expertos se dedica a plasmar tu visión de manera efectiva y atractiva. Ya sea que necesites un sitio web moderno, una aplicacion intuitiva o una plataforma de comercio electrónico, nos comprometemos a ofrecerte soluciones que resalten la identidad de tu marca y generen impacto</p>
    </div>
</div>

<app-cards-triple></app-cards-triple>

<app-box-grande></app-box-grande>

<app-cards-triple-large></app-cards-triple-large>

<div class="contactanos">
    <h2>¿Quieres saber mas?</h2>


</div>