<div class="container">

<div class="card-container">
    <div class="img">
        <img src="../../../../assets/images/diseno-de-respuesta.png">
    </div>
    <div class="titulo">
        <h3>Diseños Responsivos</h3>
    </div>
    <div class="linea"></div>
</div>

<div class="card-container">
    <div class="img">
        <img src="../../../../assets/images/disposicion.png">
    </div>
    <div class="titulo">
        <h3>Moderno y Fácil</h3>
    </div>
</div>

<div class="card-container">
    <div class="img">
        <img src="../../../../assets/images/charla.png">
    </div>
    <div class="titulo">
        <h3>Servicios de Mail</h3>
    </div>
</div>

</div>