/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
html{ scroll-behavior: smooth;}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: rgb(238, 238, 254);
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
  }

app-nav-bar{
  position: sticky;
  top: 0;
  z-index: 1000; 
    
}