.container{

    width: 100%;
    display: flex;
    justify-content: center;

    height: 100%;
    max-height: 100vh;
}

.card-container{
    text-align: center;
    width: 35vh;
    height: 80%;
    margin: auto;
    box-shadow: 1px 1px 29px 0px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 1px 29px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 1px 29px 0px rgba(0,0,0,0.51);
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

.text{
    margin: 3vh 3vh 3vh 3vh;
}

.text h5{
    font-size: 18px;
    text-align: left;
}

.img img{
    max-width: 20vh;
    margin-top: 3vh;
}

.titulo h3{
    font-size: 5vh;
    margin-top: 3vh;
}

@media screen and (max-width: 990px) {
    .container{
        flex-direction: column;
        max-height: 100vh;
        height: 100%;
    }
    .card-container{
        margin-top: 5vh;
    }
}
